.App{
	display: flex;
	justify-content: center;
	align-items: center;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(195,45,253,1) 98%);
height: 100vh;
width: 100vw;
}



.progressbar{
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 35px;
	border-radius: 10px;
	background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
h1{
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #ba1010;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.btn{
	display: block;
	margin: 2rem auto;
	border: none;
	border-radius: 3px;     
	outline: none;
	width: 100px;
	height: 40px;
	background-color: #0dd532;
	transition: box-shadow 0.5s;
	font-size: 16px;
	font-family:arial;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	-webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
    box-shadow: inset 100px 0 0 0 #7c54d1;
}